{% extends 'web/header.html' %}

{% block content %}

<div class="container text-center mt-2">
    <h1>ADD DATA</h1>
</div>

<div class="container">
    <form action="{% url 'addnewsdata' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6">
                <label class="col-form-label" for="inputDefault">ชื่อข่าวสาร</label>
                <input type="text" name="news_title" class="form-control" id="inputDefault">
              </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6">
                <label class="col-form-label" for="inputDefault">รายละเอียดข่าวสาร</label>
                <textarea type="text" name="news_detail" class="form-control" id="inputDefault" rows="5"></textarea>
              </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6">
                <label for="exampleInputFile">Image input</label>
                <input type="file" name="news_photo" accept="image/x-png,image/gif,image/jpeg" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <img src="" alt="" id="blah" class="img-thumbnail">
            </div>
        </div>
        <div class="form-row justify-content-center mb-3">
            <div class="form-group col-lg-6">
                <select class="custom-select" name="news_center">
                  <option selected=""><h4>สำนักงานส่วนกลาง</h4></option>
                  <option value="สำนักบริหารกลาง">สำนักบริหารกลาง</option>
                  <option value="สำนักป้องกันรักษาป่าและควบคุมไฟป่า">สำนักป้องกันรักษาป่าและควบคุมไฟป่า</option>
                  <option value="สำนักจัดการป่าชุมชน">สำนักจัดการป่าชุมชน</option>
                </select>
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-6">
                <input type="submit" value="Save" class="btn btn-primary mb-5" style="width: 100px;">
            </div>
        </div>
    </form>
</div>

{% endblock %}
